<!DOCTYPE html>
<html>
  <head>
      <title>Energy Consumption Report</title>
      <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <body>
    <header>
        <div class="r1">
          <img src="{{url_for('static', filename='logo.png')}}" width='100' id='logo'/>
            <h1>Energy Consumption Report</h1>


            <form action="{{url_for('data_r1') }}" method='GET'>
              <label for="fromdt">From:</label>
              <input type="datetime-local" id="fromdt" name="fromdt"step="1">
              <label for="fromdt">Format:(MM/DD/YYYY HH:MM:SS)</label><br><br>
              <label for="todt">To:</label>
              <input type="datetime-local" id="todt" name="todt"step="1">
              <label for="fromdt">Format:(MM/DD/YYYY HH:MM:SS)</label><br><br>
              <label for="frequency">Frequency:</label>
              <input list="frequency" name="frequency">
                <datalist id="frequency">
                  <option value="Monthly">
                  <option value="Weekly">
                  <option value="Total">
                </datalist><br><br>
              <br><br>  <input type="submit" value="Print">
            </form><br><br>


            <form method="POST" action="{{url_for('layout') }}">
            <button name="layout" type="submit">Home</button>
            </form>


        </div>
    </header>
    </body>
</html>
